/* line 5, ../sass/index.sass */
h1 {
  font-family: "Oswald", sans-serif;
}

/* line 8, ../sass/index.sass */
p {
  font-family: "Roboto", sans-serif;
}

/* line 11, ../sass/index.sass */
code {
  font-family: "VT323", monospace;
}
