/* line 9, ../sass/index.sass */
.container-fluid {
  padding-right: 0%;
  padding-left: 0%;
}

/* line 14, ../sass/index.sass */
.index .hero-wrapper {
  background-image: url("/static/images/wedding-cropped.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* line 22, ../sass/index.sass */
.index .hero-wrapper .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 15%;
  color: #F0F8FF;
  transform: translate(-50%, -50%);
  background-color: #3b444b;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 1%;
  padding-right: 1%;
}

/* line 35, ../sass/index.sass */
.markdown {
  padding-top: 1em;
  font-size: 100%;
  line-height: 2;
  font-family: "Roboto", sans-serif;
  max-width: 62.5em;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  column-width: 25em;
  column-gap: 5em;
  color: #3b444b;
  background-color: #f9f8f2;
  /*.markdown::after
   * content: " "
   * position: absolute
   * top: 0
   * right: 0
   * bottom: 0
   * left: 0
   * transform: translateZ(-1px) scale(1.5)
   * background-size: 100%
   * z-index: -1
   * background-image: url('https://placekitten.com/g/900/700') */
}
/* line 49, ../sass/index.sass */
.markdown a {
  color: #3b444b;
}
/* line 52, ../sass/index.sass */
.markdown a:link {
  text-decoration: underline;
  color: #3b444b;
}
/* line 56, ../sass/index.sass */
.markdown a:hover {
  text-decoration: underline wavy #3b444b;
  color: #3b444b;
}
@media screen and (max-width: 25em) {
  /* line 35, ../sass/index.sass */
  .markdown {
    font-size: 90%;
  }
}

/* line 75, ../sass/index.sass */
a {
  color: #F0F8FF;
}

/* line 78, ../sass/index.sass */
a:link {
  text-decoration: none;
  color: #F0F8FF;
}

/* line 82, ../sass/index.sass */
a:hover {
  text-decoration: underline;
  color: #F0F8FF;
}

/* line 86, ../sass/index.sass */
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.747em;
}

/* line 90, ../sass/index.sass */
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
}

/* line 94, ../sass/index.sass */
h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
}

/* line 98, ../sass/index.sass */
h4 {
  font-family: "Oswald", sans-serif;
  font-size: 0.9em;
}

/* line 102, ../sass/index.sass */
p {
  font-family: "Roboto", sans-serif;
}

/* line 105, ../sass/index.sass */
code {
  font-family: "VT323", monospace;
  font-size: 140%;
}
