$header-font: 'Oswald', sans-serif
$body-font: 'Roboto', sans-serif
$code-font: 'VT323', monospace

.container-fluid
  padding-right: 0%
  padding-left: 0%

.hero-wrapper
  background-image: url("/static/images/wedding-cropped.jpg")

  /* Set a specific height */
  height: 100%

  /* Position and center the image to scale nicely on all screens */
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative

  .hero-text
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: white

.body-text
  text-align: left
  left: 20%


h1
  font-family: $header-font

p
  font-family: $body-font

code
  font-family: $code-font

.profile-image
  margin-left: 0%
  margin-right: 5%
