{{define "title"}}Robbie McKinstry{{end}}
{{define "content"}}
<div class="contact">
  <h1> Contact Robbie McKinstry</h1>
  <ul>
    <li>Personal email, 
      protected from <a href="/static/images/the_machines.jpg">the machines</a>:
      <code>echo 'theicemancometh{at}gmail.com' | sed s/ice/snow/g | sed s/'{at}'/@/g</code>
    </li>
    <li>Keybase: <a href="https://keybase.io/thesnowmancometh">thesnowmancometh</a></li>
    <li>GitHub: <a href="https://github.com/RobbieMcKinstry">RobbieMcKinstry</a></li>
    <li>Twitter: Not shared by default.</li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/robert-mckinstry-20898465/">Goes by Robert</a></li>
    <li>Educational Commits: <a href="https://github.com/RobbieMcKinstry">Central Catholic's GitHub</a></li>
  </ul>
</div>
{{end}}
