{{define "title"}}LaTeX Documents{{end}}
{{define "content"}}
<div>
  {{ range $index, $element := . }}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{$element.Key}}</h5>
        <p>{{$element.LastModified}}</p>
        <p>{{$element.ContentType}}</p>
      </div>
    </div>
  {{end}}
</div>
{{end}}
