{{define "title"}}LaTeX Documents{{end}}
{{define "content"}}
<div>
  <form method="post" action="/documents">
    <input type="text" name="username" required>
    <input type="password" name="password" required>
    <input type="submit" value="Login">
  </form>
</div>
{{end}}
