{{define "title"}}LaTeX Documents{{end}}
{{define "content"}}
<div>
  <form>
    <input type="text" id="username" required>
    <input type="password" id="password" required>
    <input type="submit" value="Login">
  </form>
</div>
<script src="/static/javascripts/failed_login.js"></script>
{{end}}
