{{define "title"}}Robbie McKinstry{{end}}
{{define "content"}}
<div class="container-fluid index">
  <div class="hero-wrapper">
    <div class="hero-text">
      <h1>Robbie McKinstry</h1>
      <a href="/research"><h2>Researcher</h2></a>
      <a href="/engineering"><h2>Engineer</h2></a>
      <a href="/teaching"><h2>Teacher</h2></a>
    </div>
  </div> 
</div>
{{end}}
