{{define "title"}}Robbie McKinstry{{end}}
{{define "content"}}
<div class="container-fluid">

  <div class="hero-wrapper">
    <div class="hero-text">
      <h1>Robbie McKinstry</h1>
      <div class="body-text">
        <p>Researcher, engineer, teacher</p>
      </div>
    </div>
  </div> 
</div>
{{end}}
