{{define "title"}}RMcKinstry | Recruitng{{end}}
{{define "content"}}
<section class="markdown">
  <h1>Hiring Out of College?</h1>
  Hire me to recruit for your organization. I'll evaluate the skill
  set required for your position and hand-select students from local
  universities to refer. I receive payment only if the developer 
  accepts the offer.

  You can hire me to recruit either interns or junior developers.
  I charge $500 for each successful referral of an intern.
  I charge $1000 for each successful referral of a junior developer
  for a full-time role.

  <h2>I'm the Junior Developer Guru</h2>

  As a student, I had five internships and two research positions. 
  I'm a regular speaker at the Pitt Computer Science Club. 
  I've run multiple student hackathons,
  and won awards in those I've participated in. I teach
  <em>Algorithmic Thinking</em> at Central Catholic High School, 
  where students learn Dynamic Programming in their first semester
  of Python. I've even given a conference talk on the importance of
  autonomy of junior developers.

  I create close, personal ties with talented university students
  because I care about building talent in the Pittsburgh region.

  I know internships extremely well.
  I can sniff a good intern like a bloodhound. 

  If you want access to the cream of the crop college talent,
  to hire <a href="/contact">contact me</a> to recruit for you.

  If you want me to consult on your internship programs,
  <a href="/contact">reach out</a> and ask for my hourly rate.

  <h2>Why Hire Interns?</h2>
  <div>
  There's a abnormal and unhealthy perspective in software that 
  interns only get in the way. They suck up your time and add 
  one more TODO item to your list. If that's how you feel,
  <strong>the internships you offer suck.</strong>
  </div>

  <div>
  Interns are ibuprofen. In project-based internships, 
  the team lead will select a project with high-impact project
  which is just low enough priority in the backlog
  to not get scheduled.
  Having an intern allows you to scratch that itch. Interns can
  complete the projects you want done but can't convince your PM
  to schedule. These projects are often quality of life improvements.
  Too many false alarm alerts? Kick off an intern project to investigate
  the metrics in Circonus and tweak the VictorOps configuration.
  Getting burned by a cowboy coder? 
  <a href="http://blog.theodo.fr/2018/04/prevent-lazy-github-practices-in-10-minutes-using-aws-lambdas/">
    Have the intern set up a lambda
    function to enforce custom CI logic.
  </a>
  </div>
  
  <div>
  Interns roll in to you team, fix pain points for 12 weeks, 
  and disappear until you're looking to expand your team. Interns
  are only pain points when your team doesn't evenly distribute 
  assisting the intern among the members of the team. Of course
  interns are going to be annoying if they only ever ask 
  <strong>you</strong> for help. However, if you rotate the intern
  through the team, the burden is shared evenly, and your team
  members will appreciate the intern.
  </div>

  <div>
  For example, schedule one hour a day of pair programming with 
  the intern. Rotate that hour across your team, so each team member
  takes a turn. Having an hour at the beginning of the day to get 
  the intern unstuck will set him or her up for success. It will also
  make sure that no one person is tasked with unblocking the intern
  every time they encounter a problem they can't get passed.
  The intern will build bonds with the team without the frustration 
  that comes from spending too much time with the same person.
  </div>

  <h2>Why Hire Junior Developers?</h2>
  <center><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">&quot;If you don&#39;t hire juniors, you don&#39;t deserve seniors&quot;, spot on! We&#39;ve had phenomenal success hiring junior developers at Basecamp. <a href="https://twitter.com/jasonfried?ref_src=twsrc%5Etfw">@jasonfried</a> first tech hire was particularly junior at the time 😂<a href="https://t.co/QczMtsou4J">https://t.co/QczMtsou4J</a></p>&mdash; DHH (@dhh) <a href="https://twitter.com/dhh/status/1043204269770330112?ref_src=twsrc%5Etfw">September 21, 2018</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
</section>
{{end}}
