{{ define "base" }}
<html>
<head>
    <title>{{block "title" .}} {{end}}</title>
    <link rel="icon" href="/static/images/volcano.png">
    {{block "style" .}} {{end}}
</head>
<body>
    <body>
        {{template "content" .}}
    </body>
    <footer>{{block "footer" .}} {{end}}</footer>
    {{block "js" .}} {{end}}
</body>
</html>
{{ end }}
