{{ define "navbar" }}
<div class="navbar navbar-expand-lg container">
  <div class="navbar-nav row">
    <a class="nav-item nav-link col" href="/">Home</a>
    <a class="nav-item nav-link col" href="/research">Research</a>
    <a class="nav-item nav-link col" href="/engineering">Engineering</a>
    <a class="nav-item nav-link col" href="/teaching">Teaching</a>
    <a class="nav-item nav-link col" href="/other">Other</a>
  </div>
</div>
{{ end }}
