{{define "style"}}
  <link rel="stylesheet" href="static/bootstrap.min.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Roboto|Nova+Mono|VT323" rel="stylesheet"> 
  <link rel="stylesheet" href="static/stylesheets/index.css">
{{end}}
